<p style="color: green"><%= notice %></p>

<%= render @upload %>

<div>
  <%= link_to "Back to uploads", uploads_path %>
  <%= link_to "View attachment", @upload.file %>
  <%= button_to "Destroy this upload", @upload, method: :delete %>
</div>
